
<mat-drawer-container class="container" autosize>
    <mat-drawer  class="sidenav" mode="side" [opened]="sideBarOpen">
         <img src="assets/img/side-image.svg" alt="imagem de navegação"> 
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="home">
                <i class="material-icons">home</i>
                Home
             </a>
             <a mat-list-item routerLink="usuarios">
                <i class="material-icons">account_circle</i>
                Usuários
             </a>
             <a mat-list-item routerLink="perfis">
                <i class="material-icons">person</i>
                Perfis
             </a>
             <a mat-list-item routerLink="sistemas">
                <i class="material-icons">support</i>
                Sistemas
             </a>
            <a mat-list-item routerLink="departamentos">
                <i class="material-icons" >code</i>
                Departamentos
            </a>

            <a mat-list-item routerLink="cargos">
                <i class="material-icons" >code</i>
                Cargos
            </a>
            <a mat-list-item routerLink="tags">
                <i class="material-icons" >code</i>
                Tags
            </a>
            <a mat-list-item (click)="logout()">
                <i class="material-icons" >logout</i>
                Logout
            </a>
        </mat-nav-list>

    </mat-drawer>
  
    <div class="sidenav-content">
        <app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>
        <div *ngIf="spinner.isLoading | async" class="loader-container">
            <mat-spinner style="top: 50%; left :50%;" ></mat-spinner>
        </div>
        
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>


